:root {
	--gridList-column: 250px;
	--gridList-rows: 250px;
	--gridList-gap: 6px;
}

* {
	margin: 0;
	bottom: 0;
	box-sizing: border-box;
}

body {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

h1 {
	text-align: center;
	color: var(--orange);
	padding: 16px;
}

@media screen and (min-width: 37.5rem) {
	:root {
		--gridList-column: 180px;
		--gridList-rows: 200px;
	}
}

@media screen and (min-width: 60rem) {
	:root {
		--gridList-column: 300px;
		--gridList-rows: 210px;
	}
}
